* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.sale-icon {
  color: #fff;
  background-color: red;
  position: absolute;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  top: -15px;
  left: -35px;
}

.product {
  border: 5px solid black;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: #cacaca;
  padding: 10px 0;
  /* margin-bottom: 20px; */
}

.product-details-title {
  text-transform: uppercase;
  /* margin: 20px auto; */
  /* margin-top: 20px; */
}

.price {
  font-size: 25px;
  font-weight: bold;
  /* float: left; */
}
.shipping {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
  /* margin-top: 5px; */
  /* float: right; */
}

.description {
  margin-bottom: 20px;
  /* clear: both; */
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  height: 20px;
  width: 20px;
  background-color: #000;
  /* display: inline-block; */
}

.color-blue {
  background-color: #2441e6;
}

.color-red {
  background-color: #e62424;
}

.color-yellow {
  background-color: #eed709;
}

.color-green {
  background-color: #09ee3b;
}

.color-brown {
  background-color: #753c06;
}

.details-list {
  list-style: square;
  margin-left: 30px;
  /* margin-bottom: 20px; */
}

.details-list li {
  margin-bottom: 10px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: black; /* Sets the background color of the button */
  color: white; /* Sets the text color inside the button */
  padding: 10px 20px; /* Adds space around the text (10px top/bottom, 20px left/right) */
  font-size: 16px; /* Sets the size of the button text */
  border: none; /* Removes any default border */
  cursor: pointer; /* Changes the mouse cursor to a pointer when hovering */
  width: 100%;
  border-top: 4px solid black;
}

button:hover {
  background-color: white;
  color: black; /* Sets the text color inside the button */
  padding: 10px 20px; /* Adds space around the text (10px top/bottom, 20px left/right) */
  font-size: 16px; /* Sets the size of the button text */
  border: none; /* Removes any default border */
  cursor: pointer; /* Changes the mouse cursor to a pointer when hovering */
  width: 100%;
  border-top: 4px solid black;
}

.more-info:link,
.more-info:visited {
  color: black;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

.more-info:hover,
.more-info:active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* 
.product-frame-image {
  float: left;
  margin-right: 40px;
  height: 250px;
}
.product-frame-pricing {
  float: left;
  width: 260px;
  margin-right: 40px;
  margin-top: 20px;
}
.product-frame-details {
  float: left;
  width: 200px;
} 

*/

/* FLEXBOX CHALLENGE */

/* 
.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-frame {
  display: flex;
  gap: 25px;
}

.product-frame-pricing {
  flex: 1;
}

.product-frame-details {
  flex: 1;
} */

/* CSS GRID CHALLENGE */

.product-frame {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 25px;
  align-items: center;
}

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
